@import '~antd/dist/antd.css';

body {
  margin: 0;
}

.main {
  width: 100vw;
  height: 100vh;
  // display: grid;
  // grid-template-columns: 1fr 20px 1fr;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

    .table {
      min-width: 200px;
      width: 50%;
      overflow-x: scroll;
      border: 2px solid black;
    }

    .divider {
      min-width: 10px;
      width: auto;
      height: 100vh;
      background-color: red;
      margin: auto;
    }
      .divider:hover {
        cursor: col-resize;
      }

    .map-block {
      height: 100vh;
      min-width: 200px;
      width: 50%;
      margin: 0;
      border: 2px solid black;
    }
}

// Кастомизация стилей компонентов Antd\

.custom-table-cell {
  min-width: 100px;
}
